<div class="451qa_prod_item row"v style="height:350px;">
    <div class="col-xs-12 text-left">
        <div class="panel-body">
             <a class="thumbnail" href="{{LineItem.Product.Type == 'Kit' ? 'kit' : 'product'}}/{{LineItem.Product.InteropID}}">
                <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                    <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
                </figure>
            </a>
            <h3 class="text-center" style="font-size:13px;">{{LineItem.Product.Name}}</h3>
            <br/>
            <a class="btn btn-default btn-block" href="product/{{LineItem.Product.InteropID}}">{{('View' | r) + ' ' + ('Product' | r) | xlat}}</a>
        </div>
    </div>
</div>
