<div class="451qa_prod_item row" ng-swipe-left="showSwipe = true">
    <div class="col-sm-4 text-center">
        <a class="thumbnail" href="{{LineItem.Product.Type == 'Kit' ? 'kit' : 'product'}}/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
            <div class="btn btn-default">
                {{('View' | r) + ' ' + ('Product' | r) | xlat}}
            </div>
        </a>
    </div>
    <div class="col-sm-8 text-left">
        <div class="panel-body">
            <h3>{{LineItem.Product.Name}}</h3>
            <p ng-bind-html="trustedDescription(LineItem.Product)" ng-show="LineItem.Product.Description" />
        </div>
    </div>
    </section>
</div>
